/* button */

.btn-add {
    padding: 10px!important;
}

.btn-action {
    padding: 7px !important;
}


/* header */

.header-navbar.floating-nav {
    margin-top: 0!important;
}

html body .content .content-wrapper {
    margin-top: 62px;
    padding: 15px;
}

.custom-header {
    background-color: #f9f9f9!important;
}

.width-id {
    width: 5%;
}

.actions-dropodown {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    border-radius: 0.5rem;
}

.dropdown-menu .show {
    left: -25px!important;
}

.vs-checkbox-con .vs-checkbox {
    margin-top: -3px;
}

tbody .vs-checkbox-con .vs-checkbox {
    margin-top: 0;
}

.table th {
    font-size: 15px;
}
#dashboard-ecommerce .col-lg-3, #dashboard-ecommerce .col-lg-8, #dashboard-ecommerce .col-lg-7{
    padding-right: 0;
}
#dashboard-ecommerce .col-lg-3:last-child{
    padding-right:0px;
}

/* important multiselect */

.multiselect__tags {
    padding: 5px 40px 0px 8px !important;
    min-height: 38px !important;
}

@media (min-width: 1280px) and (max-width: 1345) {
    .vue-form-wizard.md .wizard-icon-circle {
        width: 30px !important;
        height: 30px !important;
        font-size: 24px;
    }
    .vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
        position: relative;
        top: 20px;
        height: 3px;
    }
}

.__title {
    font-weight: bold;
    font-size: 15px;
}

.title-records {
    text-decoration: dashed;
    color: #0d0596!important;
}

.title-records:hover {
    text-decoration: underline!important;
    color: #0d0596!important;
}

.list-data tr th {
    text-align: center;
}

.list-data tr td {
    text-align: center;
}

.list-data .dropdown-menu.show {
    width: 138px!important;
}

.fixedmenu {
    position: fixed;
    top: 63px;
    background-color: aliceblue;
    z-index: 1;
}

.make-it-sl {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
    transition: box-shadow 0.3s ease-in-out !important;
}

.make-it-sl:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) !important;
}