.remove-border-right {
    border-right: none !important;
}
.border-job-item {
    border: 1px solid #B8C2CC !important;
}
.background-default {
    background-color: #FFB701;
    color:#000;
}
.job-vip {
    top: 0;
    width: 0;
    border-top: 35px solid red;
    border-left: 35px solid transparent;
}
.item-vip-a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.scrollbar {
    overflow: scroll;
    height: 690px; 
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px hsla(0,0%,62%,.5);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    background-color: hsla(0,0%,62%,.5);
    border-radius: 10px;
}
::placeholder {
    color:rgba(0, 0, 0, 0.7) !important;
    opacity: 1; /* Firefox */
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif!important;
  }
  .section-intro[data-v-673ee647]:before{
    background-color: rgba(42, 46, 50, 0.8);
    opacity: 0.6;
  }

  /* dang nhap */
  .lopgin-c a {
    width: 100% !important;
}
.btn.btn-outline-info {
    border: none !important;
}
.fb:hover {
    background: #fff !important;
    color: #286090 !important;
}
.lopgin-c:hover i {
    color: #286090 !important;
}
.gg:hover {
    background-color: #eee !important;
    color: black !important;
}
.showpass {
    width: 30px;
    position: absolute;
    top: 14px;
    right: 12px;
    color: #000;
    z-index: 9;
}
.formlogin p a:hover{
    color:#ffb701!important;
}
.input-login ul{
        list-style: none;
        padding-left: 5px;
        padding-top: 5px;
    }
.input-login ul li{
    height: 0!important;
}
.input-login ul li span{
    color:red!important;
    font-size: 15px!important;
    top: 52%!important;
    padding-top: 10px;
}
.fb {
    text-decoration: none !important;
    color: #fff !important;
    border: 1px solid !important;
    border-radius: 3px !important;
    padding: 8px !important;
    background: #4267b2 !important;
    font-size: 15px !important;
}
.gg {
    text-decoration: none !important;
    color: black !important;
    border: 1px solid !important;
    border-radius: 3px !important;
    padding: 8px !important;
    background: #e0e0e0!important;
    font-size: 15px !important;
}
#submit {
    color: #000;
    display: inline-block;
    margin: 0px !important;
    width: 100% !important;
    font-size: 15px !important;
    box-shadow: none;
}
.submit {
    width: auto;
    background: #ffb701;
    color: #fff;
    padding: 16px 17px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
}
/* login */
.or-box{
    position: relative;
    padding: 15px 0;
}
.or-box span{
    display: block;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 35px);
    top: 15px;
    padding: 5px 0;
    height: 30px;
    width: 70px;
    text-align: center;
    font-weight: 700;
    line-height: 17px;
    color: #888;
}
#loginModal label{
    color: black!important;
    font-size: 14px;
}