/* header */
a.navbar-item {
    color: yellow;
}
.header-nav-link {
  color: black !important;
  margin-right: 5px;
}
.dropdown-toggle::after {
       margin-left: -10px;
}
a.navbar-brandd {
    color: black;
    font-size: 28px;
   }
   .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffc107;
    color: black;

}
.ftco-navbar-light {
  background: #fff !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.navbar-brandd div{
  color: black!important;
}
.ftco-navbar-light .navbar-nav>.nav-item>a {
  border-bottom: 4px solid #ffffff;
}
.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  /* color: #000 !important; */
  border-bottom: 4px solid #ffb701;
}
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  border-bottom: 4px solid #ffb701;
  /* color: #ffb701!important; */
}
.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
  color: #000!important;
  /* border: 1px solid #ffb701; */
  padding-bottom: .5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  border: 1px solid #ffb701 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.nav-icon, .nav-title {
  text-align: center;
}

.nav-icon {
  font-size: 22px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.cta img{
  height: 25px;
  width: 25px;
  object-fit: cover;
}

/* end header */
/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.NB_main_title {
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-top: 14px;    */
    margin-bottom: 10px !important;
    text-align: left !important;
    display: block;
    background: #ffb701 !important;
    padding: 5px;
    padding-left: 10px;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ftco-section-parallax {
    position: relative;
}

.ftco-section-parallax .parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 4em 0;
    background: #ffb701;
}

.ftco-footer {
    font-size: 16px;
    background: #222831;
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(255, 255, 255, 0.4);
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: #fff;
}

.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
    color: #000;
}

.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    border-bottom: 2px solid #ffb701;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: #fff;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.a_footer:hover {
    color: #ffb701 !important;
}

.ftco-section {
    padding: 30px 0px 30px 0px;
    position: relative;
}

.el-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
}

.NB_title {
    font-size: 16px;
    font-weight: unset;
}

.NB_title.text-black:hover {
    color: #ffb701;
}

.make-it-slow {
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); */
    transition: box-shadow 0.3s ease-in-out;
}

.make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

a {
    color: #000;
}

a:hover {
    color: #ffb701;
}

input:focus {
    border: #ffb701 1px solid !important;
}

textarea:focus {
    border: #ffb701 1px solid !important;
}

select:focus {
    border: #ffb701 1px solid !important;
}

.multiselect__option--highlight {
    background: #ffb701 !important;
    color: #000 !important;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-size: 12px !important;
}

.multiselect__single {
    margin-bottom: 0px !important;
    line-height: 28px !important;
}

.multiselect__select:before {
    top: 55% !important;
}

.multiselect--active .icon {
    transform: rotate(180deg) !important;
}

.item-hot {
    background-color: red;
    border-radius: 5px;
    padding: .2em .6em .3em;
    color: #fff;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    font-size: 1.51rem;
}
span.stepTitle,i.wizard-icon {
    color: #464646;
}

/* @media (min-width: 850px) {
    .modal-dialog {
        max-width: 800px;
    }
} */
.remove-border-right {
    border-right: none !important;
    width: 95%;
}
.border-job-item {
    border: 1px solid hsla(0, 0%, 80%, .8);
}
.background-default {
    background-color: #FFB701;
    color:#000;
}
.job-vip {
    top: 0;
    width: 0;
    border-top: 35px solid red;
    border-left: 35px solid transparent;
}
.item-vip-a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}
.scrollbar {
    overflow: scroll;
    height: 690px; 
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px hsla(0,0%,62%,.5);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    background-color: hsla(0,0%,62%,.5);
    border-radius: 10px;
}
::placeholder {
    color:rgba(0, 0, 0, 0.7) !important;
    opacity: 1; /* Firefox */
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif!important;
  }
  .section-intro[data-v-673ee647]:before{
    background-color: rgba(42, 46, 50, 0.8);
    opacity: 0.6;
  }

  /* dang nhap */
  .lopgin-c a {
    width: 100% !important;
}
.btn.btn-outline-info {
    border: none !important;
}
.fb:hover {
    background: #fff !important;
    color: #286090 !important;
}
.lopgin-c:hover i {
    color: #286090 !important;
}
.gg:hover {
    background-color: #eee !important;
    color: black !important;
}
.showpass {
    width: 30px;
    position: absolute;
    top: 14px;
    right: 12px;
    color: #000;
    z-index: 9;
}
.formlogin p a:hover{
    color:#ffb701!important;
}
.input-login ul{
        list-style: none;
        padding-left: 5px;
        padding-top: 5px;
    }
.input-login ul li{
    height: 0!important;
}
.input-login ul li span{
    color:red!important;
    font-size: 15px!important;
    top: 52%!important;
    padding-top: 10px;
}
.fb {
    text-decoration: none !important;
    color: #fff !important;
    border: 1px solid !important;
    border-radius: 3px !important;
    padding: 8px !important;
    background: #4267b2 !important;
    font-size: 15px !important;
}
.gg {
    text-decoration: none !important;
    color: black !important;
    border: 1px solid !important;
    border-radius: 3px !important;
    padding: 8px !important;
    background: #fff!important;
    font-size: 15px !important;
}
#submit {
    color: #000;
    display: inline-block;
    margin: 0px !important;
    width: 100% !important;
    font-size: 15px !important;
    box-shadow: none;
}
.submit {
    width: auto;
    background: #ffb701;
    color: #fff;
    padding: 16px 17px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
}
/* login */
.or-box{
    position: relative;
    padding: 15px 0;
}
.or-box span{
    display: block;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 35px);
    top: 15px;
    padding: 5px 0;
    height: 30px;
    width: 70px;
    text-align: center;
    font-weight: 700;
    line-height: 17px;
    color: #888;
}
#loginModal label{
    color: black!important;
    font-size: 14px;
}


/* caserol */
.el-carousel__arrow {
    border: none;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(31,45,61,.11);
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 12px;
}
.el-carousel__arrow, .el-carousel__button {
    margin: 0;
    -webkit-transition: .3s;
    transition: .7s;
    cursor: pointer;
    outline: 0;
}
.el-carousel__arrow {
    background-color: rgba(31,45,61,.4)!important;
}
.el-carousel__arrow--left {
    left: 3px!important;
}
.el-carousel__arrow--right {
    right: 3px!important;
}
.carousel-interval i{
    color: #fff;
}
.carousel-indicators {
    bottom: -30px!important;
    z-index: 1 !important;
}
.carousel-item {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
}
.carousel-indicators li{
    width: 10px !important;
    height: 10px!important;
    border-radius: 50%;
}
.carousel-control-prev, .carousel-control-next {
    width: 0;
}
@media only screen and (max-width: 600px) {
    .ecommerce-application .list-view .ecommerce-card .card-content {
        grid-template-columns: 1fr 4fr !important;
    }
    .ecommerce-application .list-view .ecommerce-card .card-content:last-child div:last-child div:last-child{
        display: none;
    }
    .ecommerce-application .list-view .ecommerce-card .card-content .item-options {
        padding: 0 !important;
    }
    .remove-border-right {
        padding : 0 20px;
    }
    #fullwidth {
        padding-left: 0px;
        padding-right: 0px;
    }
}