a.navbar-item {
    color: yellow;
}
.header-nav-link {
  color: black !important;
  margin-right: 5px;
}
.dropdown-toggle::after {
       margin-left: -10px;
}
a.navbar-brandd {
    color: black;
    font-size: 28px;
   }
   .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffc107;
    color: black;

}
.ftco-navbar-light {
  background: #fff !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.navbar-brandd div{
  color: black!important;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  color: #ffb701 !important;
}
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  color: #ffb701!important;
}
.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
  color: #000!important;
  /* border: 1px solid #ffb701; */
  padding-top: 0;
  padding-bottom: .5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  border: 1px solid #ffb701 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.nav-icon, .nav-title {
  text-align: center;
}

.nav-icon {
  font-size: 22px;
  margin-bottom: 4px;
}

.cta img{
  height: 30px;
  width: 30px;
  object-fit: cover;
}
