/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.NB_main_title {
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-top: 14px;    */
    margin-bottom: 10px !important;
    text-align: left !important;
    display: block;
    background: #ffb701 !important;
    padding: 5px;
    padding-left: 10px;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ftco-section-parallax {
    position: relative;
}

.ftco-section-parallax .parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 4em 0;
    background: #ffb701;
}

.ftco-footer {
    font-size: 16px;
    background: #222831;
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(255, 255, 255, 0.4);
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: #fff;
}

.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
    color: #000;
}

.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    border-bottom: 2px solid #ffb701;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: #fff;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.a_footer:hover {
    color: #ffb701 !important;
}

.ftco-section {
    padding: 30px 0px 30px 0px;
    position: relative;
}